/* VARIABLES */

:root {
  --font-size: 16px;

  --color-text: #484848; /*dark grey*/
  --color-error: #de3c4b; /*red*/
  --color-success: #024442; /*green*/
  --color-primary: #2d3e50; /*blue*/
  --color-secondary: #ffba08; /*yellow*/
  --color-passed: rgba(222, 60, 75, 0.75);
  --color-close: rgba(222, 60, 75, 0.5);
  --color-short: rgba(222, 60, 75, 0.25);

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
}

/* GLOBAL STYLE */

body {
  display: grid;
  grid-template: 48px 1fr / auto 1fr;
  grid-template-areas: "sidebar header"
                       "sidebar main";
  background: var(--color-secondary);
  height: 100%;
  font-size: var(--font-size);
  color: var(--color-text);
  position: relative;
  left: 0;
  padding-left: 0;
}

.page-container {
  max-width: 768px;
  margin: 0 auto;
}

.card {
  padding: var(--spacing-md);
  margin: var(--spacing-md) 0;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
  border-radius: 4px;
}

.card h2 {
  margin: 0 0 var(--spacing-sm);
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-bottom: var(--spacing-sm);
}

.card form.pure-form input {
  margin: 0;
  border-radius: 0;
}

.card button[type=submit] {
  margin: 0;
  color: #fff;
  background: var(--color-primary);
  border-radius: 0;
}

.list {
  margin: var(--spacing-md) calc(-1 * var(--spacing-md));
  padding: 0;
  list-style: none;
}

.list li {
  height: 36px;
  line-height: 36px;
  padding: 0 var(--spacing-md);
  margin: 4px 0;
}

.passed-date {
  background-color: var(--color-passed);
}

.close-date {
  background-color: var(--color-close);
}

.short-date {
  background-color: var(--color-short);
}
