<section class="card">
  <h2>Add in shelf</h2>

  <form class="pure-form pure-g" on:submit={add}>
    <label class="pure-u-1">Product name</label>
    <input class="pure-u-1" type="text" required bind:value={productName}>
    <label class="pure-u-1">Expiration date</label>
    <input class="pure-u-3-4" type="date" bind:value={expirationDate} required />
    <button type="submit" class="pure-u-1-4 pure-button">
      <i class="fa fa-plus"></i>
      Add
    </button>
  </form>
</section>

<script>
  import { createEventDispatcher } from 'svelte';

  export let selectedGroup;

  const dispatch = createEventDispatcher();

  let productName,
      expirationDate;

  function add(event) {
    event.preventDefault();
    const newProduct = {
      _groupId: selectedGroup._id,
      eaten: false,
      expirationDate: new Date(expirationDate),
      name: productName,
      purchaseDate: new Date(),
      thrown: false,
    };

    dispatch('add-product', newProduct);
    productName = '';
    expirationDate = '';
  }
</script>

<style>
</style>