{#if product}
  <li
    class="product-list-item pure-g"
    class:used={product.used}
    class:thrown={product.thrown}
    class:passed-date={passedDate}
    class:close-date={closeDate} 
    class:short-date={shortDate}
  >
    <span class="pure-u-2-3">
      {product.name}
      <span class="date">
        {dayjs(product.expirationDate).format('D MMM YYYY')}
      </span>
    </span>

    <div class="pure-button-group pure-u-1-3 action-buttons" role="group" aria-label="list of products">
      <button class="pure-button pure-u-1-3" on:click={eatProduct}>
        <i class="fa fa-cutlery">
      </button>
      <button class="pure-button pure-u-1-3" on:click={throwProduct}>
        <i class="fa fa-trash">
      </button>
      <button class="pure-button pure-u-1-3" on:click={removeProduct}>
        <i class="fa fa-times">
      </button>
    </div>
  </li>
{/if}

<script>
  import { createEventDispatcher } from 'svelte';
  import dayjs from 'dayjs';

  import { update, remove } from '../../services/storage';

  export let product;

  const dispatch = createEventDispatcher();

  function eatProduct() {
    product.eaten = true;
    update('products', product);
  }

  function throwProduct() {
    product.thrown = true;
    update('products', product);
  }

  function removeProduct() {
    remove('products', product);
    product = null;
  }

  const daysUntilExpires = dayjs(product.expirationDate).diff(dayjs(), 'day', true);

  $: passedDate = daysUntilExpires < 1;
  $: closeDate = 1 < daysUntilExpires && daysUntilExpires < 3;
  $: shortDate = 3 < daysUntilExpires && daysUntilExpires < 5;
</script>

<style>
  .date {
    font-style: italic;
    font-size: 0.7rem;
  }

  .action-buttons button {
    height: 100%;
    padding: 0;
    text-align: center;
    border-radius: 6px;
  }
</style>