<section class="card">
  <ul class="list product-list">
    {#each remainingProducts as product (product._id)}
      <ListItem {product} />
    {/each}
  </ul>

  <h2>{selectedGroup.name}</h2>
</section>

<script>
  import ListItem from './ListItem.svelte';

  export let products;
  export let selectedGroup;

  $: remainingProducts = products
    .filter(product => !product.eaten && !product.thrown)
    .sort((productA, productB) => productA.expirationDate - productB.expirationDate);
</script>

<style global>
  .card {
    display: flex;
    flex-direction: column;
  }

  .product-list {
    counter-reset: productCounter;
  }

  :global(.product-list-item) {
    counter-increment: productCounter;
  }

  h2 {
    order: -1;
  }

  h2:after {
    content: ' (' counter(productCounter) ')';
  }
</style>