<section class="page-container">
  <h2>About</h2>

  <p>This is a pet project I developped in order to keep track of the food I buy and their consuption date, and to learn the Svelte framework.</p>

  The source code is available on my <a href="https://gitlab.com/Joluma/shokutana" target="_blank" rel="noopener noreferrer">Gitlab repo</a>.

  <h3>Uses</h3>

  <ul>
    <li>
      <a href="https://svelte.dev/" target="_blank" rel="noopener noreferrer">Svelte</a>: component framework.
    </li>
    <li>
      <a href="https://www.npmjs.com/package/svelte-routing" target="_blank" rel="noopener noreferrer">Svelte routing</a>: routing module.
    </li>
    <li>
      <a href="https://purecss.io/">Pure CSS</a>: tiny css module from Yahoo.
    </li>
    <li>IndexedDB: in browser database.</li>
    <li>
      Icons from <a href="https://www.flaticon.com/authors/freepik">freepik</a>.
    </li>
  </ul>

  <h3>The name</h3>

  <p><strong>食棚</strong>(Shokutana) derives from a japanese word, <strong>食品棚</strong>(Shokuhintana) that means <strong>Food shelf</strong>. I just shortened it because I like it 😅.</p>
</section>

<style>
  
</style>