<section class="page-container">
  <AddGroup on:add-group={addGroup} />
  <ListGroups {groups} />
</section>

<script async>
  import { onMount } from 'svelte';

  import AddGroup from '../components/group/Add.svelte';
  import ListGroups from '../components/group/List.svelte';

  import { getAll, save, setupDB } from '../services/storage';

  let groups = [];

  onMount(async () => {
    await setupDB()
    groups = await getAll('groups');
  });

  function addGroup({ detail }) {
    groups = groups.concat(detail);
    save('groups', detail);
  }
</script>
