<section class="page-container">
  {#if selectedGroup}
    <AddProduct on:add-product={addProduct} {selectedGroup} />
    {#await productsPromise then products}
      <ListProducts {products} {selectedGroup} />
    {/await}
  {/if}
</section>

<script>
  import { onMount } from 'svelte';

  import AddProduct from '../components/product/Add.svelte';
  import ListProducts from '../components/product/List.svelte';
  import { getByKey, save, setupDB } from '../services/storage';

  export let groupName;

  let selectedGroup;
  let productsPromise;

  function unslug(groupName) {
    return groupName.replace(/_/g, ' ');
  }

  function addProduct({ detail }) {
    save('products', detail);
    productsPromise = getByKey('products', { key: '_groupId', value: selectedGroup._id });
  }

  onMount(async () => {
    await setupDB()
    selectedGroup = (await getByKey('groups', { key: 'name', value: unslug(groupName) }))[0];
    productsPromise = getByKey('products', { key: '_groupId', value: selectedGroup._id });
  });
</script>
