<header>
  <img src="images/food_contour.svg" alt="food icon" />
  <h1>
    <a href={baseUrl} use:link>食棚!</a>
  </h1>
</header>

<script>
  import { link } from 'svelte-routing';

  const baseUrl = process.env.baseUrl;
</script>

<style>
  header {
    position: sticky;
    top: 0;
    grid-area: header;
    text-align: center;
    margin: 0;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header img {
    height: 32px;
    margin-right: 16px;
  }

  header h1 {
    margin: 0;
    font-size: 1.8rem;
  }

  header h1 a {
    text-decoration: none;
    color: var(--color-text);
  }
</style>