<input id="menu-checkbox" type="checkbox" bind:checked={menuOpen}>

<div id="menu" class="sidenav">
  <label for="menu-checkbox" class="menu-active-button">
    <i class="fa fa-bars menu-icon-open" aria-hidden="true"></i>
    <i class="fa fa-times menu-icon-close" aria-hidden="true"></i>
  </label>

  <div class="pure-menu" on:click={closeMenu}>
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a class="pure-menu-link" href={baseUrl} use:link>
          <i class="fa fa-home" aria-hidden="true"></i> Home
        </a>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" href={`${baseUrl}about`} use:link>
          <i class="fa fa-info" aria-hidden="true"></i> About
        </a>
      </li>
    </ul>
  </div>
</div>

<script>
  import { link } from 'svelte-routing';

  const baseUrl = process.env.baseUrl;

  let menuOpen = false;

  function closeMenu() {
    menuOpen = false;
  }
</script>

<style>
  #menu {
    grid-area: sidebar;
    box-sizing: border-box;
  }

  .sidenav {
    height: 100vh;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -60%;
    background-color: var(--color-primary);
    padding: 16px 0;
    transition: 0.5s;
    border-top: 48px solid var(--color-secondary);
  }

  .menu-active-button {
    width: 48px;
    height: 48px;
    line-height: 48px;
    position: absolute;
    top: -48px;
    right: -48px;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    background: #fff;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.5);
  }

  .menu-icon-close,
  #menu-checkbox,
  #menu-checkbox:checked + .sidenav .menu-icon-open {
    display: none;
  }

  #menu-checkbox:checked + .sidenav {
    left: 0;
  }

  #menu-checkbox:checked + .sidenav .menu-icon-close {
    display: inline-block;
  }

  .pure-menu-link {
    color: #fff;
  }

  .pure-menu-link:hover,
  .pure-menu-link:focus {
    color: var(--color-text);
  }

  .pure-menu-link i {
    width: 16px;
    text-align: center;
  }

  @media screen and (min-width: 480px) {
    .sidenav { width: 40%; left: -40%; }
  }

  @media screen and (min-width: 768px) {
    .sidenav { width: 20%; left: -20%; }
  }

  @media screen and (min-width: 1024px) {
    .menu-active-button {
      display: none;
    }

    .sidenav {
      position: static;
      width: 200px;
    }
  }
</style>