<Menu />
<Header />

{#if showNotifButton}
  <button class="pure-button notif-button" on:click={askNotificationPermission}>Enable notifications</button>
{/if}

<main>
  <Router basepath={baseUrl}>
    <Route path="/"><Home /></Route>
    <Route path="list/:groupName" let:params>
      <List groupName="{params.groupName}" />
    </Route>
    <Route path="about" component="{About}" />
  </Router>
</main>

<script async>
  import { onMount } from 'svelte';
  import { Router, Route } from 'svelte-routing';
  import Home from "./pages/Home.svelte";
  import List from "./pages/List.svelte";
  import About from "./pages/About.svelte";

  import Header from './components/Header.svelte';
  import Menu from './components/Menu.svelte';

  import { askNotificationPermission, areNotificationsEnabled, areNotificationsSupported } from './services/notification';

  let showNotifButton = false;

  const baseUrl = process.env.baseUrl;

  onMount(() => {
    showNotifButton = !areNotificationsEnabled() && areNotificationsSupported();
  });
</script>

<style>
  main {
    grid-area: main;
    padding: 16px;
  }

  .notif-button {
    font-size: 0.8rem;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
  }
</style>