<section class="card">
  <h2>Create a group</h2>

  <form class="pure-form pure-g" on:submit={add}>
    <label class="pure-u-1">Group name</label>
    <input class="pure-u-3-4" type="text" required bind:value={groupName}>
    <button type="submit" class="pure-u-1-4 pure-button">
      <i class="fa fa-plus"></i>
      Add
    </button>
  </form>
</section>

<script>
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();

  let groupName;

  function add(event) {
    event.preventDefault();
    dispatch('add-group', {
      name: groupName,
    });
    groupName = '';
  }
</script>

<style>
</style>