<li class="pure-g list-item">
  <a href={`${baseUrl}list/${slug(group.name)}`} use:link>
    <span class="pure-u-2-3">{group.name}</span>
  </a>
</li>

<script>
  import { link } from 'svelte-routing';

  export let group;

  const baseUrl = process.env.baseUrl;

  function slug(groupName) {
    return groupName.replace(/ /g, '_');
  }
</script>

<style>
  .list-item a {
    color: var(--color-text);
    width: 100%;
  }

  .list-item:hover {
    background: var(--color-primary);
  }

  .list-item:hover a {
    color: #fff;
  }
</style>