{#if groups.length}
  <section class="card">
    <h2>My groups</h2>

    <ul class="list group-list">
      {#each groups as group (group._id)}
        <ListItem {group} />
      {/each}
    </ul>
  </section>
{/if}

<script>
  import ListItem from './ListItem.svelte';

  export let groups;
</script>

<style>
  
</style>